.App {
  height: 100vh;
}

/* utility classes */
.hidden {
  display: none;
}
.misty {
  opacity: 0.5;
}
.subtle-heading {
  font-weight: lighter;
  font-size: 120%;
  color: hsl(215, 22%, 30%);
  margin-top: 0.6em;
}

#login {
  margin-left: 0.4em;
}

.topic-heading {
  text-align: center;
}

.candidate {
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-style: solid;
  border-width: thin;
  max-width: 24em;
  background-color: hsl(60, 100%, 92%);
  border-color: hsl(240, 100%, 80%);
  box-shadow: 0 0.1em 0.2em hsla(0, 0%, 0%, 0.12), 0 0.1em 0.125em hsla(0, 0%, 0%, 0.24);
}

.primary-button {
  display: block;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.6em 1.6em;
  margin-top: 0.6em;
  color: white;
  background-color: hsl(225, 100%, 25%);
  border-color: hsl(240, 100%, 70%);
  box-shadow: 0 0.4em 0.2em hsla(0, 0%, 0%, 0.1), 0 0.2em 0.125em hsla(0, 0%, 0%, 0.2);
}
.primary-button:hover {
  background-color: white;
  border-color: hsl(212, 19%, 84%);
  color: black;
}

header,
.results-overlay-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.results-overlay {
  background-color: hsl(215, 22%, 17%);
  color: hsl(60, 100%, 90%);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  padding: 1em;
  padding-bottom: 2em;
  /* animation-duration: 3s;
  animation-name: slide-down;
  animation-fill-mode: forwards; */
}
.retracted {
  transform: translate(0, -100%);
}
.slide-down {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: sliding-down;
}
.slide-up {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: sliding-up;
}
@keyframes sliding-down {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes sliding-up {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -100%);
  }
}

.secondary-button {
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.4em;
  color: black;
  background-color: hsl(210, 100%, 90%);
  border-color: hsl(210, 100%, 80%);
}
.secondary-button:hover {
  background-color: white;
  border-color: hsl(212, 19%, 84%);
}
.danger-button {
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.4em;
  color: white;
  background-color: red;
  border-color: pink;
}
.danger-button:hover {
  color: red;
  background-color: white;
}

/* responsive web design */
@media only screen and (min-width: 36em) {
  main {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
  }
  .ballot-paper-container {
    display: flex;
    flex-wrap: wrap;
  }
  .candidate {
    width: 24em;
  }
}
